<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>About Us</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Ask some questions, get some answers!">
		<meta name="author" content="Surveyvor Team">

		<!-- Le styles -->
		<link href="/static/css/surveyvor.min.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<!-- navigation bar -->
		<div class="navbar navbar-fixed-top force-min-width">
			<div class="navbar-inner">
				<div class="container-fluid">
					<div class="row-fluid">
						<a class="brand span2" href="/account/login.html">SurveyVor</a>
						<ul class="nav span4">
							<li id="HomeIcon"><a href="/account/login.html">Home</a></li>
							<li class="active" id="AboutIcon"><a href="#">About</a></li>
							<li id="ContactIcon"><a href="/account/contact_page.html">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>            
		</div>
		<!-- Main container -->
		<div class="container-fluid force-min-width">
			<div class="row-fluid">
				<img src="/static/img/Surveyvor.png" class="img-rounded span8 offset2" alt="Surveyvor" width="100" height="90">
				<div class="control-gourp span8 offset2"> 
					<h5>Surveyvor is a lightweight web survey service developed by a team of NTU undergraduates.
					The website serves as a graded project for the Software Engineering module [Code CZ2006] 
					under the team Surveyvor. The project was completed within a time frame of 10 weeks. This 
					involved the documentation of system requirements, modeling classes and sequence diagrams, 
					implementation of coding ,and testing. The core technologies involved are HTML programming,
					python and Django Web Framework. This web survey service platform also come up with an Android
					app, which can do same function as the website.</h5>
				</div>
			</div>
		</div>
	</body>
</html>
