<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SurveyVor Activation</title>
	</head>

	<body>
		<div style="font-family: Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px; color: #333; display:block;">
			<!-- navigation bar -->
			<div style="width: 100%;">
				<div style="margin-bottom: 0; overflow: visible; color: #777;">
					<div style="padding-right: 0; padding-left: 0; border-radius: 0; min-height: 40px; background-color: #FAFAFA; background-image: -webkit-linear-gradient(top,white,#F2F2F2); border: 1px solid #D4D4D4;">
						<div style="padding-right: 20px; padding-left: 20px;">
							<span style="display: block; float: left; padding: 10px 20px 10px; font-size: 20px; font-weight: 200; color: #777;">SurveyVor</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Main container -->
			<div style="padding-right: 20px; padding-left: 20px;">
				<div style="width: 100%;">
					<h4 style="font-size: 18px; line-height: 20px; margin: 10px 0; font-weight: bold;">Congratulations!</h4>
					<p style="margin: 0 0 10px;">
					Your registration is almost complete. To be able to access your account, click on the activation link bellow:<br>
					<a href="http://localhost:8080/account/activate/{{activationLink}}" style="color: #08C; text-decoration: none;">http://localhost:8080/account/activate/{{activationLink}}</a><br><br>
					Regards,<br>
					The Surveyvor Team
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
