<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Contact</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Ask some questions, get some answers!">
		<meta name="author" content="Surveyvor Team">

		<!-- Le styles -->
		<link href="/static/css/surveyvor.min.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<!-- navigation bar -->
		<div class="navbar navbar-fixed-top force-min-width">
			<div class="navbar-inner">
				<div class="container-fluid">
					<div class="row-fluid">
						<a class="brand span2" href="/account/login.html">SurveyVor</a>
						<ul class="nav span4">
							<li id="HomeIcon"><a href="/account/login.html">Home</a></li>
							<li id="AboutIcon"><a href="/account/about_page.html">About</a></li>
							<li id="ContactIcon" class="active"><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>            
		</div>
		<!-- Main container -->
		<div class="container-fluid force-min-width">
			<div class="row-fluid">
				<img src="/static/img/Surveyvor.png" class="img-rounded span8 offset2" alt= "SurveyVor" width="100" height="90">
				<div class="control-group span8 offset2">
					<strong>For questions, please contact us at the following mail address: mailservice.surveyvor@gmail.com<br/>
					<br/>Best Regards,<br/>
					The SurveyVor Team<br/>
					Baptiste, Chia Xueyi Ryan, Deepank, Gu Peng, Niki, Ouassim, Ronald, Tan, Tan Jinhan</strong>
				</div>
			</div>
		</div>
	</body>
</html>
